// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif:
  // Safari para OS X e iOS (San Francisco)
  -apple-system,
  // Chrome < 56 para OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Fallback de fonts web básicas
  "Helvetica Neue", Arial, sans-serif,
  // Fonts de Emoji
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #085da3;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #1886e0;
